<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <form>
        <script src='https://checkout.epayco.co/checkout.js' data-epayco-key='a980c207ad4ee4e6e2e1a172da71aaab' class='epayco-button' data-epayco-amount='20000' data-epayco-tax='0.00' data-epayco-tax-ico='0.00' data-epayco-tax-base='5000' data-epayco-name='prueba 2'
            data-epayco-description='prueba 2' data-epayco-currency='cop' data-epayco-country='CO' data-epayco-test='true' data-epayco-external='false' data-epayco-response='http://127.0.0.1:5000/confirmacion_pago' data-epayco-confirmation='https://localhost8080/confirmacion.php'
            data-epayco-button='https://multimedia.epayco.co/dashboard/btns/btn2.png'>
        </script>
    </form>





</body>

</html>