<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas Inscritas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="header" style="display: flex;align-items: center; justify-content: space-between">
            <h1>Personas Inscritas</h1>
            <a href="{{ url_for('go_home5') }}" class="btn btn-outline-danger" style="margin-top: 15px;width: 150px;margin-left: -64em;">
                <p class="bi bi-house-door" style="margin-bottom: 0rem;"> Volver al Inicio</p>
            </a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{ persona.nombres }} {{ persona.apellidos }}</td>
                    <td>{{ persona.tipo_documento }} {{ persona.numero_doc }}</td>
                    <td>
                        <button class="btn btn-danger" onclick="mostrarClases({{ persona.id }})">Ver Clases</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal para mostrar las clases -->
        <div class="modal fade" id="clasesModal" tabindex="-1" aria-labelledby="clasesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clasesModalLabel">Clases Programadas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Ubicación</th>
                                    <th>Descripción</th>
                                </tr>
                            </thead>
                            <tbody id="clasesTableBody">
                                <!-- Contenido dinámico -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function mostrarClases(personaId) {
            $.ajax({
                url: "{{ url_for('obtener_clases_persona') }}",
                type: "GET",
                data: {
                    persona_id: personaId
                },
                success: function(response) {
                    var clasesTableBody = $('#clasesTableBody');
                    clasesTableBody.empty();
                    response.clases.forEach(function(clase) {
                        var row = '<tr>' +
                            '<td>' + clase.fecha_programada.split(" ")[0] + '</td>' +
                            '<td>' + clase.hora_inicio + ' - ' + clase.hora_fin + '</td>' +
                            '<td>' + clase.ubicacion + '</td>' +
                            '<td>' + clase.descripcion + '</td>' +
                            '</tr>';

                        clasesTableBody.append(row);
                    });
                    $('#clasesModal').modal('show');
                }
            });
        }
    </script>

</body>

</html>